        <div><!-- Content Start Here -->
            <h1>Welcome to Help Page</h1>
            <hr />
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      About UPKSS
                    </a>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-block">
                    <p>
                    College of Management (Unit Perngurusan Kolej) (UPK) UiTM Campus Raub branch was open
                    officially on 16 November 2015. This unit is under one of the unit under Hal Ehwal Pelajar (Student Affairs)
                    (HEP) that was responsible for managing the convenience and the welfare of the students that lives as the
                    college residence. The main goal for this system is to ease student to make reservation, request and to
                    check for the status for their storage request through our website. The students could also view their 
                    personal information such as the item is rejected or appoved through the online as well.
                      </p>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Admin Info
                    </a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="card-block">
                    <u>Admin Level 0</u>
                      <p>Highest Access Level in the system</p>
                    <ul>
                        <li><b>Change Student Item Status to - Pending, Approved, Rejected, Stored, Returned</b></li> 
                    </ul>
                      <u>Admin Level 1</u>
                      <p>Decide if the student is eligible to store items at UPK Storage </p>
                    <ul>
                        <li><b>Change Student Item Status to - Approved, Rejected</b></li>    
                    </ul>
                      <u>Admin Level 2</u>
                      <p>Update the item status when the student handed their items at UPK Storage / returned student items to owner from UPK Storage</p>
                    <ul>
                        <li><b>Change Student Item Status to - Stored, Returned</b></li>    
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                  <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Others
                    </a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-block">
                    <h5><u>Open Source Libary Used</u></h5>
                      <ul>
                        <li><a href="http://www.chartjs.org/">Chartjs</a></li>
                        <li><a href="https://davidshimjs.github.io/qrcodejs/">qrcodejs</a></li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div><!-- Content End Here -->