.ss-card{
    box-shadow: 2px 2px 10px #888888;
}

.ss-card-round{
    box-shadow: 2px 2px 10px #888888;
    border-radius: 10px;
}

.ss-animation-test{
    animation-name: test;
    animation-duration: 4s;
}

.ss-animation-next{
    animation-name: ss-animation-next;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.ss-animation-back{
    animation-name: ss-animation-back;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.ss-status-green{
    text-align: center;
    color: white;
    background-color: green;
}

.ss-status-red{
    text-align: center;
    color: white;
    background-color: red;
}

.ss-status-gray{
    text-align: center;
    color: white;
    background-color: gray;
}

@keyframes test {
    from {background-color: red;}
    to {background-color: yellow;}
}


@keyframes ss-animation-next {
    from {
        right: 0px;
    }to {
        right: 700px;
    }
}

@keyframes ss-animation-back {
    from {
        left: -700px;
    }to {
        left: 0px;
    }
}

/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
.ss-sidenav {
    color: #FFFFFF;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292b2c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.ss-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.ss-sidenav a:hover {
    color: #f1f1f1;
}

.ss-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#ss-main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .ss-sidenav {padding-top: 15px;}
  .ss-sidenav a {font-size: 18px;}
}